.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# SwiftPM
.swiftpm/xcode/
.swiftpm/workspace-state.json
.swiftpm/package.xcworkspace/

# Xcode
*.xcodeproj/
*.xcworkspace/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Debug / profiling
*.dSYM/
*.dSYM.zip
*.dSYM.tar

# Editor
.vscode/
